#fiveDay {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 20px;
}

h2 {
    text-align: center;
    margin-top: 15px;
}

i {
    font-size: 30px;
    margin-left: 10px;

}

#fiveDay div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #f1f1f1;
    border-radius: 10px;
    padding: 10px;
    margin: 10px;
}
#searchBtn {
    margin-top: 10px;
    margin-left: 10px;
    margin-bottom: 10px;
}

#searchHistory {
    margin-left: 5px;
}

div input {
    margin-left: 10px;
}